@page
@model CodeKata_ModelBinding.Pages.Introduction.IndexModel
@{
    ViewData["Title"] = "Index";
}

<section>
    <article>
        <div class="card card-block bg-faded">
            Who knows what a crdblock is?
            
        </div>
    </article>
</section>

