@page "{containerId:int?}"
@model CodeKata_OnPost.Pages.Storage.UpdateModel
@{
}
<h2>Editing Container: @Model.StorageInfo.ContainerName</h2>
<form method="post">
    <input type="hidden" asp-for="StorageInfo.Id" />
    <div class="form-group">
        <label asp-for="StorageInfo.ContainerName"></label>
        <input asp-for="StorageInfo.ContainerName" class="form-control" />
        <span class="text-danger" asp-validation-for="StorageInfo.ContainerName"></span>
    </div>
    <div class="form-group">
        <label asp-for="StorageInfo.BlobName"></label>
        <input asp-for="StorageInfo.BlobName" class="form-control" />
        <span class="text-danger" asp-validation-for="StorageInfo.BlobName"></span>

    </div>
    <div class="form-group">
        <label asp-for="StorageInfo.FileType"></label>
        <select class="form-control" asp-for="StorageInfo.FileType" asp-items="Model.FileTypes">
        </select>

    </div>
    <button type="submit" class="btn btn-primary">Save</button>
</form>